.line{
    height: 5px;
    width: 0%;
    border-radius: 40px;
    background-color: #7A57D1;
    box-shadow: 0 0 10px 0 var(--bs-indigo);
    z-index: 3;
}
.line::before{
    content: '';
    height: 5px;
    background-color: #0003;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
    width: 96%;
}
.stepbodytwo{
    display:none;
   }
   .stepbodytree{
    display:none;
   }
      
